extends layout

block content
  div.container.createaccount-container
    form(role="form" class="form-createaccount" method="post" action="/newpassword/#{token}" data-validate="parsley" novalidate)
      center
        h2(class="form-createaccount-heading") Change Account Password
        if message
          p
            font(color="#{color}") #{message}
      if !hideForm
        input(name="password" type="password" class="form-control" placeholder="Password" required autofocus)
        input(name="password2" type="password" class="form-control" placeholder="Password (repeat)" required)
        button(class="btn btn-lg btn-primary btn-block" type="submit") Change password
